.detail-continue{
    display: flex;
    justify-content: flex-end;
    button{
                font-size: 15px;
                padding: 10px 30px;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                margin-top: 20px;
                transition: 0.5s;
    }
    .detail-btn-2:hover{
        font-size: 17px;
    }
    .detail-btn-2{
        border: none;
        background-color: #B007FF;
        margin-left: 10px;
    }
    .detail-btn-1{
        border-color: #B007FF;
        color: #B007FF;
        background-color: white;
    }
}

.detail-container{
    textarea{
        width: 100%;
        font-size: 25px;
        resize: none;
        height: 40vh;
        font-family: 'Montserrat', sans-serif;
        padding: 10px 15px;
        font-weight: 200;
        border-radius: 5px;
        border: 3px solid lightgray;
    }
    h1{
        color: rgb(70, 70, 70);
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
    }
    p{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}