.progress-container{
    display: flex;
    justify-content: center;

    .progress-div{
        height: 10px;
        width: 100%;
        .progress-tracker{
            height: 100%;
            background-color: #B007FF;
            transition: 1s;
        }
    }

}
.p-1{
    width: 16.6%;
}
.p-2{
    width: 33.2%;
}
.p-3{
    width: 49.4%;
}
.p-4{
    width: 65.6%;
}
.p-5{
    width: 81.8%;
}
.p-6{
    width: 100%;
}
